<INSTANCE>
<ID>3</ID>
<EVENT>
<NAME_TR>2015 FUTBOL ŞAMPİYONU</NAME_TR>
<NAME_EN>2015 FOOTBALL CHAMPION</NAME_EN>
<PLACE>İSTANBUL</PLACE>
<LINK>
<URL>http://www.haberturk.com/spor/futbol/haber/1082906-spor-toto-super-ligde-2014-2015-sezonu-sampiyonu-galatasaray-oldu</URL>
<DATE>
<YEAR>2015</YEAR>
<MONTH>5</MONTH>
<DAY>25</DAY>
<TIME>21:40</TIME>
</DATE>
</LINK>
</EVENT>
</INSTANCE>

<INSTANCE>
<ID>14</ID>
<EVENT>
<NAME_TR>DAĞLICA TERÖR SALDIRISI</NAME_TR>
<NAME_EN>TERROR ATTACK IN DAĞLICA</NAME_EN>
<PLACE>DAĞLICA</PLACE>
<LINK>
<URL>http://www.cnnturk.com/turkiye/daglicada-catisma-sehit-ve-yaralilar-var</URL>
<DATE>
<YEAR>2015</YEAR>
<MONTH>9</MONTH>
<DAY>6</DAY>
<TIME>21:36</TIME>
</DATE>
</LINK>
</EVENT>
</INSTANCE>

<INSTANCE>
<ID>17</ID>
<EVENT>
<NAME_TR>AZİZ SANCAR NOBEL KİMYA ÖDÜLÜ'NÜ KAZANDI</NAME_TR>
<NAME_EN>AZİZ SANCAR WINS NOBEL PRIZE FOR CHEMISTRY </NAME_EN>
<PLACE>İSVEÇ</PLACE>
<LINK>
<URL>http://www.hurriyet.com.tr/nobel-kimya-odulunu-turk-asilli-aziz-sancar-kazandi-aziz-sancar-kimdir-30255503</URL>
<DATE>
<YEAR>2015</YEAR>
<MONTH>10</MONTH>
<DAY>7</DAY>
<TIME>13:28</TIME>
</DATE>
</LINK>
</EVENT>
</INSTANCE>

<INSTANCE>
<ID>43</ID>
<EVENT>
<NAME_TR>ALANYASPOR'UN SUPER LİG'E ÇIKMASI</NAME_TR>
<NAME_EN>PROMOTION OF ALANYASPOR TO SUPER LEAGUE</NAME_EN>
<PLACE>KONYA</PLACE>
<LINK>
<URL>http://www.cnnturk.com/spor/futbol/alanyaspor-super-ligde</URL>
<DATE>
<YEAR>2016</YEAR>
<MONTH>5</MONTH>
<DAY>27</DAY>
<TIME>21:51</TIME>
</DATE>
</LINK>
</EVENT>
</INSTANCE>

<INSTANCE>
<ID>46</ID>
<EVENT>
<NAME_TR>BOLU'DA 10. YIL MARŞI YASAĞI</NAME_TR>
<NAME_EN>FORBIDDING THE 10th YEAR ANTHEM IN BOLU</NAME_EN>
<PLACE>BOLU</PLACE>
<LINK>
<URL>http://www.milliyet.com.tr/bolu-milli-egitim-muduru-yusuf-gundem-2264147/</URL>
<DATE>
<YEAR>2016</YEAR>
<MONTH>6</MONTH>
<DAY>17</DAY>
<TIME>14:26</TIME>
</DATE>
</LINK>
</EVENT>
</INSTANCE>

<INSTANCE>
<ID>61</ID>
<EVENT>
<NAME_TR>MAGAZİN PROGRAMCISI KÜRK MANTOLU MADONNA'YI ŞARKICI MADONNA SANDI</NAME_TR>
<NAME_EN>MAGAZINE PROGRAMMER CONFUSES "MADONNA IN A FUR COAT" WITH POPSTAR MADONNA</NAME_EN>
<PLACE>İSTANBUL</PLACE>
<LINK>
<URL>http://www.sozcu.com.tr/hayatim/magazin-haberleri/sosyal-medya-yikildi-funda-ozkalyoncu-kurk-mantolu-madonnayi-sarkici-madonna-sandi/</URL>
<DATE>
<YEAR>2016</YEAR>
<MONTH>10</MONTH>
<DAY>17</DAY>
<TIME>12:4</TIME>
</DATE>
</LINK>
</EVENT>
</INSTANCE>
